<h1>All Users</h1>

<ul>
  <% @users.each do |user| %>
    <% unless user.id == @current_user.id %>
      <li>
        <%= link_to user.name, user_path(user) %>
      </li>
    <% end %>
  <% end %>  
</ul>

