<h1>Your Friends</h1>

<ul>
  <% @friendships.each do |friendship| %>
  <li>
    <%= friendship.friend.name %>
    <% if friendship.status == "pending" %>
      (pending)
    <% else %>  
      (<%= link_to "remove", friendship, :method => :delete %>)
    <% end %>  

  </li>
  <% end %>  
</ul>